.header {
    background-color: rgb(221, 215, 233);
    color: #061257;
    height: 85px;
    padding: 20px;
    position: fixed;
    top: 0;
    align-items: center;
    width: 100%;
}

.header-title {
    font-size: 3em;
    margin-left: 30px;
    font-family: 'Modern Antiqua', cursive;
    
}
.header-img {
    width: 145px;
    margin-top: 50px;
}

   @media (max-width: 540px) {
    .header-title {
        font-size: 2em;
        margin-left: 15px;
        width: 63%;
    }
    .header-img {
        width: 125px;
        margin-top: 50px;
    }
   }