.movie-details {
    border: 1px solid #e2d7d7;
    box-shadow: 12px 12px 2px 1px rgba(98, 98, 132, 0.2);
    text-align: center;
    background-color: #efefef;
    color: rgb(39, 24, 24);
    width: 500px;
    height: 350px;
    min-height: 200px;
    margin: 20px auto;
    padding: 10px;
    justify-content: space-around;
    font-family: 'Ubuntu', sans-serif;
}

.details-container {
    justify-content: space-around;
}
.details-container>img {
    width: 180px;
    height: 275px;
    box-shadow: 10px 3px 7px 1px rgba(98, 98, 132, 0.5)
}

.title-details {
    /* text-transform: capitalize; */
    /* height: 45px; */
    /* color: rgb(135, 127, 152); */
    /* text-shadow: 1px 1px 1px black; */
    margin: auto;
    font-size: 3em;
}

.movie-text {
    justify-content: space-between;
}
.mb15 {
    margin-bottom: 15px;
}
.ml15 {
    margin-left: 15px;
}
/* .btn-delete, .btn-back {
    margin-left: 15px;
} */

.plot {
    margin: 10px;
}

@media (max-width: 600px) {
    .details-container {
        flex-direction: column;
    }
    .details-container>img {
        width: 200px;
        height: 250px;
        margin: auto;
    }
    .movie-details {
        height: 575px;
        width: 85%;
    }
    .title-details {
        font-size: 1.5em;
    }
}