.movie-container {
    border: 1px solid;
    text-align: center;
    background-color: bisque;
    color: rgb(39, 24, 24);
    max-width: 300px;
    max-height: 450px;
    min-height: 200px;
    margin: 20px;
    padding: 10px;
    justify-content: space-between;
}
.director>span {
    font-weight: bold;
}

.genre>span {
    font-weight: bold;
}

.btn-edit {
    width: 50px;
    align-self: center;
}

.tilte {
    text-transform: lowercase;
}

.tilte::first-letter {
    text-transform: capitalize;
}
a>h3 {
    color: blue;
}