.movie-container {
    border: 1px solid  #e2d7d7;
    text-align: center;
    background-color: #efefef;
    color: rgb(39, 24, 24);
    width: 300px;
    height: 510px;
    min-height: 200px;
    margin: 20px;
    padding: 10px;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 1px 1px 20px 2px #4e4d4d;

}
.bold {
    font-weight: bold;
}
.director {
    height: 35px;
}
.a-title {
    height: 55px;
    display: block;
}

.title {
    color: #837090;
    text-transform: capitalize;
}

.preview-body {
    justify-items: center;
}
.a-img {
    width: 70%;
    margin: 10px auto;
    height: 300px;
    box-shadow: 5px 3px 7px 1px rgba(98, 98, 132, 0.5);
}

.year-container {
    margin: 10px auto;
}
.genre-list {
    margin: auto;
    font-size: 0.85em;
    padding: 0;
}
.genre {
    border: 1px solid #dcc3c3;
    list-style-type: none;
    padding: 4px;
    margin: 0 5px;
    border-radius: 8px;
    border-radius: 4px;
    min-width: 50px;
}

@media (max-width: 540px) {
    width: 85%;
}