.movie-container {
    border: 1px solid  #e2d7d7;
    box-shadow: 12px 12px 2px 1px rgba(98, 98, 132, 0.2);
    text-align: center;
    background-color: #efefef;
    color: rgb(39, 24, 24);
    width: 300px;
    height: 480px;
    min-height: 200px;
    margin: 20px;
    padding: 10px;
    justify-content: space-between;
    font-family: 'Dosis', sans-serif;
}
.bold {
    font-weight: bold;
}

.btn-edit {
    /* width: 50px; */
    /* align-self: center; */
    /* margin-top: 10px; */
    /* background-color: white;
    padding: 5px;
    border-radius: 7px; */
    /* margin: 5px auto; */
}

.a-title {
    /* text-transform: lowercase; */
    height: 55px;
    display: block;
}

.title {
    /* display: block; */
    /* text-transform: lowercase; */
    color: rgb(135, 127, 152);
    /* text-shadow: 1px 1px 1px black; */
    text-transform: capitalize;
    /* z-index: 5; */
}

.preview-body {
    justify-items: center;
}
.movie-container>img {
    width: 180px;
    height: 275px;
    margin: auto;
    /* z-index: 3; */
}

.year-container {
    margin: 0 auto;
}
.genre-list {
    margin: auto;
    padding: 0;
}
.genre {
    border: 1px solid #dcc3c3;
    list-style-type: none;
    padding: 5px;
    margin: 0 5px;
    border-radius: 8px;
    border-radius: 4px;
    min-width: 80px;
}