
.user-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.movie-list {
    text-decoration: none;
    list-style-type: none;
}

.movies-list {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

.sub-title {
    margin: 0 auto;
    
    /* align-items: center; */
}

.sub-title>p {
    font-size: 2em;
    margin-right: 20px;
    margin-top: 10px;
    font-family: 'Dosis', sans-serif;
    /* z-index: 5; */
}

.add-btn {
    margin-left: 20px;
    /* font-family: 'Dosis', sans-serif; */
    /* color: white; */
    /* border-radius: 11px; */
    font-size: 1.2em;
    /* background-color: rgb(161, 148, 188); */
    /* cursor: pointer; */
}
.plus-add {
    justify-content: center;
}
.plus-add>span {
    margin-right: 5px;
    /* margin-bottom: 3px; */
    font-weight: bold;
}
.movie-preview {
    margin: auto;
}

@media (max-width: 520px) {
    .sub-title {
        flex-direction: column;
        align-items: center;
    }
    .sub-title>p {
        font-size: 1.5em;
        margin-left: 15px;
    }
}